

.container {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-weight: 600;
    font-size: 1rem;

	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	gap: 4rem;
	position: fixed;
	z-index: 999;
	top: 1rem;
	left: 50%;
	transform: translate(-50%, 0);

	padding: 1rem 2rem;

	border-radius: 9999px;

	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.48);
	border-radius: 16px;
	/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
	backdrop-filter: blur(15.7px);
	-webkit-backdrop-filter: blur(15.7px);
}

nav a {
	text-decoration: none;
	color: black;
}
