@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";

body {
	background: #F9FAFB;
}

@theme {
	--font-crimson: "Crimson Text", serif;
}

@theme {
	--font-dmsans: "DM Sans:Regular", sans-serif;
}

@theme {
	--font-segoe: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@theme {
	--animate-fade-up: fade-up 1s;
	@keyframes fade-up {
		0% {
			opacity: 0;
			transform: scale(0.9);
		}

		100% {
			opacity: 1;
			transform: scale(1);
		}
	}
}

@theme {
	--animate-fade-down: fade-down 1s;
	@keyframes fade-down {
		0% {
			opacity: 0;
			transform: translate(-50%, -50%) scale(0.9);
		}
		100% {
			opacity: 1;
			transform: translate(-50%, -50%) scale(1);
		}
	}
}
